
a, button, input, label {
  cursor: pointer
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* CSS */

/* Mobile */
@media (max-width: 900px) {
  main {
    grid-template-columns: 1fr;
  }
}

/* CSS variables */
:root {
  --color-bg: ;
  --color-primary: ;
  --color-light:
  --first-size: ;
  --second-size: ;
}

/* CSS */

body {
  height: auto;
  font-family: 'lucida grande';
}

#main-wrapper {
  margin: 2em;
}

#navi {
  width: 20vw;
  height: 10vw;
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#head {
  width: 20vw;
  height: 20vw;
  margin: 1em;
}


#inhalt{
  width: 50vw;
  margin: 1em;
}

#außer {
  width: 620px;
  height: 620px;
  display: grid;
  grid-template-columns: repeat(4, 10fr);
  margin-left: 1em;
}

div {
  border: 1px;
}

a {
  text-decoration: none;
  color: inherit;
}

.text {
  font-size: 12px;
  font-family: 'lucida grande';
  line-height: 2;
  color: inherit;
}


.nav_text {
  text-decoration: none;
  color: inherit;
  font-size: 12px;
  font-family: 'lucida grande';
}

.nav_text:hover {
  width: 8vw;
  height: 2vw;
  background-color: #e6e6e6;
}

.b {
  padding: 5px;
}

.title {
  width: 80vw;
  font-size: 12px;
}

.images {
  width: 100px;
  height: 130px;
}

.img_klein {
  width: 15vw;
  height: 15vw;
}

.img_klein_car {
  width: 10vw;
  height: 9vw;
  padding: 1em;
  object-fit: cover;
}

.text_foot {
  color: grey;
  font-size: 8px;
  margin-left: 5em;
  margin-bottom: 5vw;
}
